body::before {
    display: block !important;
    content: '' !important;
}

.home-header{
text-shadow: 2px 3px #2b1003 !important;
}

.what-do-you-see-button{
    color: whitesmoke !important;
    background-color: transparent !important;
    border: solid black 1px !important;
    text-shadow: 2px 2px #2b1003 !important;
}

img.services{
    width: 200px !important;
    height: 200px !important;
}

#map {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
}

@media (min-width: 768px) {
    .email-input {
        width: 50% !important;
    }
}